<div class="flex justify-center">
  <div class="carousel h-96 w-2/3">
    <div id="item1" class="carousel-item w-full">
      <img src="/Gallery/1.jpg" class="w-full" />
    </div>
    <div id="item2" class="carousel-item w-full">
      <img src="/Gallery/2.jpg" class="w-full" />
    </div>
    <div id="item3" class="carousel-item w-full">
      <img src="/Gallery/3.jpg" class="w-full" />
    </div>
    <div id="item4" class="carousel-item w-full">
      <img src="/Gallery/4.jpg" class="w-full" />
    </div>
  </div>
  <div class="flex w-2/3 justify-center gap-2 py-2">
    <a href="#item1" class="btn-xs btn">1</a>
    <a href="#item2" class="btn-xs btn">2</a>
    <a href="#item3" class="btn-xs btn">3</a>
    <a href="#item4" class="btn-xs btn">4</a>
  </div>
</div>

