---
import { Icon } from 'astro-icon';
import { getBlogPermalink } from '~/utils/permalinks';
---

<div class="mx-auto max-w-3xl px-6 pt-8 pb-12 sm:px-6 md:pt-4 md:pb-20">
  <a class="btn-ghost btn px-3 md:px-3" href={getBlogPermalink()}
    ><Icon name="tabler:chevron-left" class="mr-1 -ml-1.5 h-5 w-5" /> Back to Blog</a
  >
</div>
